{% extends 'base.html.twig' %}
{% block title %}Compétitions à venir{% endblock %}
{% block body %}

    <div class="container">
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Compétitions à venir</h1>
        <div class="row">
            {% for competition in competitions %}
                {% if date('now') < competition.dateEnd and competition.categorieAge == app.user.categorieAge %}
                    <div class="col-md-4 mt-5">
                        <div class="card">
                            <div class="card-header text-center">
                                Du <b><i>{{competition.dateStart|date('d-m-Y H:m')}}</i></b> au <b><i>{{competition.dateEnd|date('d-m-Y H:m')}}</i></b>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center bg-primary" style="color:#fff;padding:10px;">Competition N°{{competition.id}}</h5>
                                <p class="card-text">Catégorie : <b>{{competition.categorieAge}}</b></p>
                                <p class="card-text">Nbr de Partcipants: <b>{{competition.participants}}</b></p>
                                <p class="card-text">Blason conseillé: <b>{{competition.blason}}</b></p>
                                {% if competition.users|length > 0 %}
                                    <button type="button" class="btn btn-primary btn-info btn-block">Inscrit <i class="fas fa-check"></i></button>
                                {% else %}
                                    <form name="competitions_user"  method="post">
                                        <input type="hidden" name="competitions_user[competition]" value="{{competition.id}}" />
                                        <button type="submit" class="btn btn-primary btn-success btn-block">S'inscrire <i class="fas fa-sign-in-alt"></i></button>
                                    </form>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                        
            {% endfor %}
        </div>
    </div>
{% endblock %}