{% extends 'base.html.twig' %}
{% block title %}Compétitions à venir{% endblock %}
{% block body %}

    <div class="container">
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Compétitions à venir</h1>
        <div class="row">

        

{# Competition inscrit #}
            {% for competition in competitionInscrit %}
                    <div class="col-md-4 mt-5">
                        <div class="card">
                            <div class="card-header text-center">
                                Du <b><i>{{competition.dateStart|date('d-m-Y H:m')}}</i></b> au <b><i>{{competition.dateEnd|date('d-m-Y H:m')}}</i></b>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center bg-primary" style="color:#fff;padding:10px;">{{competition.Name}}</h5>
                                <p class="card-text">Catégorie : <b>{{competition.categorieAge}}</b></p>
                                {# {% if competition.users|length >= 1 %} #}


                                {% set tireur = 0 %}
                                {% set arbitre = 0 %}
                                {% set arbitreManquant = 0 %}
                          
                                {% for c in competition.users %}

                                    {% if c.role == 1 %}
                                    
                                        {% set tireur = tireur + 1 %}
                                        
                                    {% endif %}

                                    {% if c.role == 2 %}
                                    
                                        {% set arbitre = arbitre + 1 %}

                                    {% endif %}

                                {% endfor %}
                                                                        
                                {% if tireur >= 4 %}
                                
                                {% set arbitreManquant =  (tireur // 4) - arbitre %}
                                                
                                {% endif %}

                                {% if arbitreManquant > 0 %}

                                <p class="card-text"><b>Attention ! Il manque {{arbitreManquant}} arbitre(s) </b></p>
                                
                                {% endif %}
                                

                                <p class="card-text"><b>Vous êtes inscrit à cette compétition</b></p>

                                {{ include('competitions/_removeUser_form.html.twig') }}

                            </div>
                        </div>
                    </div>
            {% endfor %}
                                
                           
                           
            
                        

                                    
                                
                                
                         
                               
                                

{# Competitions non-inscrit #}
            
            {% for competition in competitions %}
            {% for c in categorieUser %}

               {% if date('now') < competition.dateEnd and competition.categorieAge == c %}
                    <div class="col-md-4 mt-5">
                        <div class="card">
                            <div class="card-header text-center">
                                Du <b><i>{{competition.dateStart|date('d-m-Y H:m')}}</i></b> au <b><i>{{competition.dateEnd|date('d-m-Y H:m')}}</i></b>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center bg-primary" style="color:#fff;padding:10px;">{{competition.Name}}</h5>
                                <p class="card-text">Catégorie : <b>{{competition.categorieAge}}</b></p>
                                

                                                        
                                    <form name="competitions_user"  method="post">
                                        <input type="hidden" name="competitions_user[competition]" value="{{competition.id}}" />
                                        <button type="submit" class="btn btn-primary btn-success btn-block">S'inscrire <i class="fas fa-sign-in-alt"></i></button>
                                    </form>
                                
                                     
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}