{% extends 'base.html.twig' %}
{% block title %}Mes Participations aux compétitions terminées{% endblock %}
{% block body %}

{% if competitions != false %}


    <div class="container">
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Mes Participations aux compétitions terminées</h1>
        <div class="row">
            {% for competition in competitions %}
                <div class="col-md-4 mt-5">
                    <div class="card">
                        <div class="card-header text-center">
                            La compétition a eu lieu le <br><b><i>{{competition.competition.dateStart|localizeddate('full', 'none', 'fr_FR',null, 'cccc d MMMM Y')}}</i></b>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center bg-primary" style="color:#fff;padding:10px;">Competition : {{competition.competition.name}}</h5>
                            
                           
                             {% if competition.place %}
                                <a type="button" class="btn btn-info" style="color:#fff;">Vous avez terminé {{competition.place}}ème sur {{competition.competition.participants}} </a>
                            {% else %}
                                <a type="button" href="{{path('mes_competitions_view',{'id': competition.id})}}" class="btn btn-btn-warning">Inscire mes résultats</a>
                            {% endif %}
                           
                            
                        </div>  
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% else %}
    <div class="container">
    <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Vous n'avez pas encore participé à une compétition</h1>
    </div>
    {% endif %}
{% endblock %}