{% extends 'base.html.twig' %}
{% block title %} Inscription de mes Resultats à la compétition{% endblock %}
{% block body %}
 <div class="container">
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Inscription de mes Resultats à la compétition</h1>
            <div class="card">
                <div class="card-header text-center">
                    La compétition a eu lieu du <br><b><i>{{competition.competition.dateStart|localizeddate('full', 'none', 'fr_FR',null, 'cccc d MMMM Y')}}</i></b> au <b><i>{{competition.competition.dateEnd|localizeddate('full', 'none', 'fr_FR',null, 'cccc d MMMM Y')}}</i></b>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center bg-light" style="padding:10px;">Compétition : {{competition.competition.name}}</h5>
                    <p class="card-text">Nbre de Partcipants: <b>{{competition.competition.participants}}</b></p>
                    
                    
                </div>
                <hr>
                <div class="text-center" style="font-size: 20px;">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                        <button type="submit" class="btn btn-success btn-block">Valider</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}