{% extends 'base.html.twig' %}

{% block title %}Mes Leçons{% endblock %}

{% block body %}
   <div class="container">
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Liste des leçons reçues</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Entrainement</th>
                    <th>Maitre Armes</th>
                    <th>Informations ou Remarques</th>
                </tr>
            </thead>
            <tbody>
            {% for lecon in lecons %}
                <tr>
                    <td>Lecon reçue entre le <b>{{lecon.entrainement.dateStart|date('d/m/Y')}}</b> à <b>{{lecon.entrainement.dateStart|date('h-m')}}</b> et <b>{{lecon.entrainement.dateEnd|date('d/m/Y')}}</b> à <b>{{lecon.entrainement.dateEnd|date('h:m')}}</b></td>
                    <td>{{ lecon.maitreArme.username  }}</td>
                    <td>{{ lecon.informations }}</td>
                   
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de leçons reçus</td>
                </tr>
            {% endfor %}
            </tbody>
   </div>
{% endblock %}
