{% extends 'base.html.twig' %}

{% block title %}Mes Leçons{% endblock %}

{% block body %}
   <div class="container">
        

        
  
        <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Liste des entrainements où vous avez été présent</h1>
        
        <table class="table">
        <thead>
                <tr>
                    <th>Date</th>
                    <th>lecon</th>
                    
                </tr>
            </thead>
            <tbody>
            
            {% for entrainement in entrainements %}
                <tr>
                    <td>{{ entrainement.dateStart|localizeddate('full', 'none', 'fr_FR',null, 'cccc d MMMM Y')}} entre <b>{{entrainement.dateStart|date('H:i')}}</b> et <b>{{entrainement.dateEnd|date('H:i')}}</b></td>
                            <td>
                                <a type="buton" class="btn btn-info btn-warning" href="{{ path('new_lecon', {'id': entrainement.id}) }}">J'ai reçu une leçon à cet entrainement</a>
                            </td>                                                   
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Liste des entraînements où vous avez reçu une leçon</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Entrainement</th>
                    <th>Maitre Armes</th>
                    <th>Informations ou Remarques</th>
                </tr>
            </thead>
            <tbody>
            {% for lecon in lecons %}
                <tr>
                    <td>Lecon reçue le <b>{{lecon.entrainement.dateStart|localizeddate('full', 'none', 'fr_FR',null, 'cccc d MMMM Y')}}</b> entre <b>{{lecon.entrainement.dateStart|date('H:i')}}</b> et <b>{{lecon.entrainement.dateEnd|date('H:i')}}</b></td>
                    <td>{{ lecon.maitreArme.prenom  }} {{ lecon.maitreArme.nom  }}</td>
                    <td>{{ lecon.informations }}</td>
                   
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de leçons reçus</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
   </div>
   
{% endblock %}
