{% extends 'base.html.twig' %}

{% block title %}UserArme index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Liste des armes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Arme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_arme in user_armes %}
            <tr>
                <td>{{ user_arme.id }}</td>
                <td>{{ user_arme.arme }}</td>
                <td>
                    <a type="button" href="{{ path('user_arme_show', {'id': user_arme.id}) }}" class="btn btn-primary">Afficher</a>
                    <a type="button" href="{{ path('user_arme_edit', {'id': user_arme.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-success btn-block" href="{{ path('user_arme_new') }}">Créer nouvelle arme</a>
</div>
{% endblock %}